<h1>Editing dict list</h1>

<%= render "form", dict_list: @dict_list %>

<br>

<div>
  <%= link_to "Show this dict list", @dict_list %> |
  <%= link_to "Back to dict lists", dict_lists_path %>
</div>
